*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}


/* header */
.front-row {
    height: 160px;
    padding: 20px;
    width: 100%;
    background-color: rgb(19, 19, 94);
}

.item {
    float: left;
    width: 30%;
    padding: 10px;
}

.gov-title {
    text-align:center;
    width: 40%;
    height: 130px;
}
.web-address {
    color: white;
    font-size: 15px;
}
.title {
    margin-top: 12px;
}

.logos {
    height: 110px;
    width: 110px;
}

.flag-logo {
    text-align:right;
}

.welcome-message {
    font-size: 20px;
    color: white;
}


/* signin page */
.sign-in {
    margin:0 auto;
    width: 380px;
    border: 1px solid;
    border-radius: 25px;
    padding: 45px 30px;
}

.sign-in input {
    padding: 13px 13px;
}
.sign-in input:focus {
    background-color: rgb(245, 245, 245);
    box-shadow: none;
}

#title-signin {
    font-size: 30px;
}

.signin-logo {
    float: right;
    margin-top: -22px;
    height: 110px;
    width: 110px;
}

.sign-in button {
    color: white;
    border-radius: 30px;
    width: 100%;
    background-color: rgb(37, 155, 90);
    border: none;
    padding: 13px 0px;
}

.sign-in button:hover {
    background-color: rgb(108, 207, 153);
}

.forget-password {
    color: red;
}
.forget-password:hover {
    color: rgb(28, 40, 196);
    text-decoration: none;
}

.form-label {
    font-weight: bold;
}

.admin-login {
    color: green;
}
.admin-login:hover {
    color: rgb(19, 23, 226);
    text-decoration: none;
}


/* verification */
.verification-box {
    width: 400px;
    margin: 0 auto;
}

.verification-box input:focus {
    box-shadow: none;
}

.printable-search {
    border-radius: 25px;
    padding: 10px 20px;
    background-color: rgb(55, 121, 219);
    color: white;
    border: none;
}

.printable-search:hover {
    background-color: rgb(112, 119, 221);
}


/* challan page */
.form-label {
    font-weight: lighter;
}

/* logout */
#logout-red:hover {
    color:red;
}

/* login */
#login-blue:hover {
    color:rgb(24, 175, 87);
}

/* contact */
.contact .info {
    width: 100%;
    background: #fff;
  }
  .contact .info i {
    font-size: 20px;
    color: #1977cc;
    float: left;
    width: 44px;
    height: 44px;
    background: #d6e9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2c4964;
  }
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #4b7dab;
  }
  .contact .info .email, .contact .info .phone {
    margin-top: 40px;
  }
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #1977cc;
    color: #fff;
  }
  .contact .php-email-form {
    width: 100%;
    background: #fff;
  }
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  .contact .php-email-form input {
    height: 44px;
  }
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  .contact .php-email-form button[type=submit] {
    background: #1977cc;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  .contact .php-email-form button[type=submit]:hover {
    background: #1c84e3;
  }
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
